<p>test1 works!</p>
<input type="text" id="txtPrint1" name="txtPrint" [(ngModel)]="textPrint">
<button id="botonTest1" (click)="imprimir()" name="botonTest1" type="button">Test1</button>
<app-print-epl [printEPLE]="printEPLE" *ngIf="true"></app-print-epl>