<!-- <div style="text-align:center">
    <h1>Print Zebra EPL commands from Javascript</h1>
    <hr />
    <label class="checkbox">
        <input type="checkbox" id="useDefaultPrinter" [(ngModel)]="isDefaultPrinterSelected" /> <strong>Print to Default
            printer</strong>
    </label>
    <p>or...</p>
    <div id="installedPrinters">
        <label for="installedPrinterName">Select an installed Printer:</label>
        <select name="printer" id="printer" [(ngModel)]="selectedPrinter">
            <option *ngFor="let printer of printers" [value]="printer">{{ printer }}</option>
        </select>
    </div>
    <br /><br />
    <button class="btn btn-sucess" (click)="doPrint('')">Print Now...</button>
</div> -->